* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: grey;
}

.slider-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    background-image: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide.active {
    opacity: 1;
}

/* Buttons */
.prev,
.next {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.7);
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Dots */
.dots {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
}

.dots div {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: black;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.dots .active-dot {
    background:orange;
}

/* ---------- Responsive for Mobile ---------- */
@media (max-width: 600px) {

    .slider-container {
        height: 180px; /* Reduce height for mobile */
    }

    /* Center buttons on the image */
    .prev,
    .next {
        top: 50%;
        padding: 10px 14px;
        font-size: 18px;
    }

    /* Dots closer under the image */
    .dots {
        bottom:10px;
    }

    .menu-icon span{
      height:3px;
      width: 30px;
    }

    header{
      height:30px;
    }
    
}
